[submodule "submodules/github.com/snsinfu/micromd"]
	path = submodules/github.com/snsinfu/micromd
	url = https://github.com/snsinfu/micromd.git
[submodule "submodules/github.com/snsinfu/h5"]
	path = submodules/github.com/snsinfu/h5
	url = https://github.com/snsinfu/h5.git
